@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --color-bar: 0, 0, 0;
   }

   .theme-beethoven {
      --color-bar: 240, 240, 255;
   }

   html {
      font-size: 11pt;
      font-family: 'Nunito', sans-serif;
   }
}

@layer utilities {
   .w-stream {
      width: 800px;
   }

   .px-1\.5vw {
      padding-left: 1.5vw;
      padding-right: 1.5vw;
   }

   .vertical-rl {
      writing-mode: vertical-rl;
   }

   .dark-area {
      --color-text: 255, 255, 255;
      --color-link: 128, 255, 128;
      --color-link-hover: 200, 255, 128;
      color: rgba(var(--color-text));
   }

   .light-area {
      --color-text: 0, 0, 0;
      --color-link: 0, 128, 0;
      --color-link-hover: 0, 80, 0;
      color: rgba(var(--color-text));
   }

   

   @variants responsive {
      .template-columns-auto-180-1fr {
         grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      }
      .template-columns-100-180 {
         grid-template-columns: repeat(100,180px);
      }
   }
}
